.posisi {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-bottom: 10px;
}

.back {
    background-color: rgb(218, 214, 214);
    padding-bottom: 40px;
}

.But {
    align-items: center;
    text-align: center;
    align-content: center;
}

.Text {
    color: white;
    text-decoration: none;

}

.Text:hover {
    background-color: none;
    color: white;
}

.text2 {
    margin-bottom: 30px;

    padding-top: 40px;
    font-weight: bolder;
}